- 사본 생성 후 수정 부탁드립니다.
- 과제1과 과제2 모두 수행 후, 결과를 포함한 ipynb 파일을 제출해 주세요. (파일명은 이름_pandas_numpy_과제.ipynb로 부탁드립니다.)
- 출력하는 데 너무 오래 걸린다면 상위 30개만 출력해 주세요.

## 과제1
- 데이터: wine.csv (와인 성분 변수들을 이용하여 품질을 예측하는 데이터)

In [ ]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import warnings
warnings.filterwarnings(action='ignore')

#### 데이터 불러오기 및 앞부분 확인

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
data = pd.read_csv('/content/gdrive/MyDrive/와빅_교육세션/wine.csv') # wine.csv: '내 드라이브'에 사본 저장 후, 경로 수정
data.head()

,index,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
0,0,5,5.6,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2,white
1,1,5,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5,red
2,2,5,7.9,0.210,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9,white
3,3,6,7.0,0.210,0.31,6.0,0.046,29.0,108.0,0.99390,3.26,0.50,10.8,white
4,4,6,7.8,0.400,0.26,9.5,0.059,32.0,178.0,0.99550,3.04,0.43,10.9,white

In [ ]:
# 인덱스 컬럼 드랍하기
data.drop(['index'], axis = 1, inplace = True)
data.head()

,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
0,5,5.6,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2,white
1,5,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5,red
2,5,7.9,0.210,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9,white
3,6,7.0,0.210,0.31,6.0,0.046,29.0,108.0,0.99390,3.26,0.50,10.8,white
4,6,7.8,0.400,0.26,9.5,0.059,32.0,178.0,0.99550,3.04,0.43,10.9,white

#### 데이터 shape 확인

In [ ]:
data.shape

(5497, 13)

#### 컬럼명 확인

In [ ]:
data.columns

Index(['quality', 'fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol',
       'type'],
      dtype='object')

#### NaN, 데이터 타입, 개수 확인

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5497 entries, 0 to 5496
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   quality               5497 non-null   int64
 1   fixed acidity         5497 non-null   float64
 2   volatile acidity      5497 non-null   float64
 3   citric acid           5497 non-null   float64
 4   residual sugar        5497 non-null   float64
 5   chlorides             5497 non-null   float64
 6   free sulfur dioxide   5497 non-null   float64
 7   total sulfur dioxide  5497 non-null   float64
 8   density               5497 non-null   float64
 9   pH                    5497 non-null   float64
 10  sulphates             5497 non-null   float64
 11  alcohol               5497 non-null   float64
 12  type                  5497 non-null   object
dtypes: float64(11), int64(1), object(1)
memory usage: 558.4+ KB

#### 통계값 확인

In [ ]:
data.describe()

,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
count,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000
mean,5.818992,7.210115,0.338163,0.318543,5.438075,0.055808,30.417682,115.566491,0.994673,3.219502,0.530524,10.504918
std,0.870311,1.287579,0.163224,0.145104,4.756676,0.034653,17.673881,56.288223,0.003014,0.160713,0.149396,1.194524
min,3.000000,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.740000,0.220000,8.000000
25%,5.000000,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,78.000000,0.992300,3.110000,0.430000,9.500000
50%,6.000000,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994800,3.210000,0.510000,10.300000
75%,6.000000,7.700000,0.400000,0.390000,8.100000,0.064000,41.000000,155.000000,0.996930,3.320000,0.600000,11.300000
max,9.000000,15.900000,1.580000,1.660000,65.800000,0.610000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000

#### quality의 unique 확인

In [ ]:
data['quality'].unique()

array([5, 6, 7, 8, 4, 3, 9])

#### quality별로 개수 확인

In [ ]:
data['quality'].value_counts()

6    2416
5    1788
7     924
4     186
8     152
3      26
9       5
Name: quality, dtype: int64

#### 다음 컬럼만 따로 데이터프레임으로 추출해라 : 'quality', 'residual sugar', 'pH', 'alcohol', 'type'

In [ ]:
data2 = data[['quality', 'residual sugar', 'pH', 'alcohol', 'type']]
data2.head()

   quality  residual sugar    pH  alcohol   type
0        5             6.8  3.44     10.2  white
1        5             2.4  3.19      9.5    red
2        5             2.0  3.05     10.9  white
3        6             6.0  3.26     10.8  white
4        6             9.5  3.04     10.9  white

#### groupby를 통해 quality로 묶고 통계값(min,mean,max) 확인

In [ ]:
#min
data.groupby('quality').agg('min')

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
quality,,,,,,,,,,,,
3,4.2,0.17,0.00,1.15,0.022,3.0,9.0,0.99110,2.87,0.28,8.0,red
4,4.6,0.11,0.00,0.70,0.013,3.0,7.0,0.98920,2.74,0.25,8.6,red
5,4.5,0.10,0.00,0.60,0.009,2.0,6.0,0.98722,2.79,0.27,8.0,red
6,3.8,0.08,0.00,0.70,0.015,1.0,6.0,0.98758,2.74,0.25,8.4,red
7,4.4,0.08,0.00,0.90,0.012,3.0,7.0,0.98711,2.84,0.22,8.6,red
8,3.9,0.12,0.03,0.80,0.014,3.0,12.0,0.98713,2.94,0.25,8.8,red
9,6.6,0.24,0.29,1.60,0.018,24.0,85.0,0.98965,3.20,0.36,10.4,white

In [ ]:
#mean
data.groupby('quality').agg('mean')

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
quality,,,,,,,,,,,
3,7.811538,0.538077,0.266923,5.203846,0.076500,40.096154,121.461538,0.995713,3.250385,0.500000,10.251923
4,7.269892,0.447285,0.280323,4.145430,0.059247,20.553763,104.811828,0.994730,3.228602,0.500484,10.180376
5,7.329195,0.387855,0.308043,5.792422,0.064417,30.174217,120.370805,0.995843,3.213384,0.525017,9.846875
6,7.166743,0.312301,0.323411,5.535141,0.053932,30.969578,115.357616,0.994527,3.219611,0.532686,10.606015
7,7.123972,0.289724,0.332987,4.748918,0.045352,30.457251,108.178571,0.993122,3.228333,0.546786,11.383864
8,6.839474,0.292730,0.330263,5.581579,0.041105,34.585526,119.421053,0.992544,3.216711,0.506184,11.680921
9,7.420000,0.298000,0.386000,4.120000,0.027400,33.400000,116.000000,0.991460,3.308000,0.466000,12.180000

In [ ]:
#max
data.groupby('quality').agg('max')

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
quality,,,,,,,,,,,,
3,11.8,1.580,0.66,16.20,0.267,289.0,440.0,1.00080,3.63,0.74,12.6,white
4,12.5,1.130,1.00,15.40,0.610,138.5,272.0,1.00040,3.90,2.00,13.5,white
5,15.9,1.330,1.00,23.50,0.464,131.0,344.0,1.00315,3.79,1.98,14.9,white
6,14.3,1.040,1.66,65.80,0.415,112.0,294.0,1.03898,4.01,1.95,14.0,white
7,15.6,0.915,0.76,19.25,0.358,108.0,229.0,1.00320,3.82,1.36,14.2,white
8,10.7,0.850,0.74,14.80,0.121,105.0,212.5,1.00060,3.57,1.10,14.0,white
9,9.1,0.360,0.49,10.60,0.035,57.0,139.0,0.99700,3.41,0.61,12.9,white

#### 알코올 함량을 기준으로 오름차순 정리  / 상위 30개만 출력

In [ ]:
data.sort_values('alcohol', ascending = False).head(30)

,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
2787,5,15.9,0.360,0.65,7.5,0.096,22.0,71.0,0.99760,2.98,0.84,14.90,red
5340,7,6.4,0.350,0.28,1.6,0.037,31.0,113.0,0.98779,3.12,0.40,14.20,white
4964,7,5.8,0.610,0.01,8.4,0.041,31.0,104.0,0.99090,3.26,0.72,14.05,white
4059,6,5.2,0.340,0.00,1.8,0.050,27.0,63.0,0.99160,3.68,0.79,14.00,red
3005,7,5.0,0.455,0.18,1.9,0.036,33.0,106.0,0.98746,3.21,0.83,14.00,white
4150,7,5.8,0.290,0.21,2.6,0.025,12.0,120.0,0.98940,3.39,0.79,14.00,white
1963,6,8.8,0.460,0.45,2.6,0.065,7.0,18.0,0.99470,3.32,0.79,14.00,red
984,8,4.9,0.330,0.31,1.2,0.016,39.0,150.0,0.98713,3.33,0.59,14.00,white
876,7,4.9,0.420,0.00,2.1,0.048,16.0,42.0,0.99154,3.71,0.74,14.00,red
2142,6,5.2,0.340,0.00,1.8,0.050,27.0,63.0,0.99160,3.68,0.79,14.00,red
3848,8,5.5,0.490,0.03,1.8,0.044,28.0,87.0,0.99080,3.50,0.82,14.00,red
5160,6,5.8,0.390,0.47,7.5,0.027,12.0,88.0,0.99070,3.38,0.45,14.00,white
3265,7,4.7,0.455,0.18,1.9,0.036,33.0,106.0,0.98746,3.21,0.83,14.00,white
5448,7,5.8,0.240,0.28,1.4,0.038,40.0,76.0,0.98711,3.10,0.29,13.90,white
4492,7,5.8,0.320,0.20,2.6,0.027,17.0,123.0,0.98936,3.36,0.78,13.90,white
1463,7,5.9,0.340,0.22,2.4,0.030,19.0,135.0,0.98940,3.41,0.78,13.90,white
196,6,4.7,0.785,0.00,3.4,0.036,23.0,134.0,0.98981,3.53,0.92,13.80,white
2587,6,5.4,0.270,0.22,4.6,0.022,29.0,107.0,0.98889,3.33,0.54,13.80,white
3342,7,5.6,0.490,0.13,4.5,0.039,17.0,116.0,0.99070,3.42,0.90,13.70,white
5456,7,5.9,0.170,0.29,3.1,0.030,32.0,123.0,0.98913,3.41,0.33,13.70,white
328,7,5.8,0.310,0.32,4.5,0.024,28.0,94.0,0.98906,3.25,0.52,13.70,white
2816,7,5.8,0.310,0.32,4.5,0.024,28.0,94.0,0.98906,3.25,0.52,13.70,white
53,7,6.6,0.290,0.29,1.8,0.036,38.0,102.0,0.98819,3.08,0.42,13.70,white
3476,7,6.2,0.760,0.01,3.2,0.041,18.0,120.0,0.99026,3.20,0.94,13.70,white
862,7,5.3,0.470,0.11,2.2,0.048,16.0,89.0,0.99182,3.54,0.88,13.60,red
2639,6,7.1,0.370,0.30,6.2,0.040,49.0,139.0,0.99021,3.17,0.27,13.60,white
3722,6,7.7,0.380,0.23,10.8,0.030,28.0,95.0,0.99164,2.93,0.41,13.60,white
2334,6,5.0,0.400,0.50,4.3,0.046,29.0,80.0,0.99020,3.49,0.66,13.60,red
1070,7,5.1,0.420,0.00,1.8,0.044,18.0,88.0,0.99157,3.68,0.73,13.60,red
3364,7,6.0,0.380,0.26,3.5,0.035,38.0,111.0,0.98872,3.18,0.47,13.60,white

#### quailty가 7 이상인 데이터 추출 (20개)

In [ ]:
data[data['quality'] >= 7].head(20)

,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
11,7,6.2,0.160,0.33,1.10,0.057,21.0,82.0,0.99100,3.32,0.46,10.9,white
12,7,7.3,0.330,0.40,6.85,0.038,32.0,138.0,0.99200,3.03,0.30,11.9,white
17,7,6.5,0.280,0.25,4.80,0.029,54.0,128.0,0.99074,3.17,0.44,12.2,white
25,8,6.6,0.290,0.31,3.90,0.027,39.0,96.0,0.99035,3.24,0.60,12.6,white
45,7,7.5,0.305,0.38,1.40,0.047,30.0,95.0,0.99158,3.22,0.52,11.5,white
46,7,7.4,0.190,0.30,12.80,0.053,48.5,212.0,0.99860,3.14,0.49,9.1,white
53,7,6.6,0.290,0.29,1.80,0.036,38.0,102.0,0.98819,3.08,0.42,13.7,white
54,8,7.0,0.530,0.43,6.10,0.029,6.0,76.0,0.99118,3.08,0.50,12.5,white
55,7,8.0,0.220,0.42,14.60,0.044,45.0,163.0,1.00030,3.21,0.69,8.6,white
60,7,6.2,0.290,0.32,3.60,0.026,39.0,138.0,0.98920,3.31,0.37,13.1,white
63,7,8.3,0.280,0.48,2.10,0.093,6.0,12.0,0.99408,3.26,0.62,12.4,red
71,8,6.8,0.190,0.32,7.05,0.019,54.0,188.0,0.99350,3.25,0.37,11.1,white
74,7,6.0,0.100,0.24,1.10,0.041,15.0,65.0,0.99270,3.61,0.61,10.3,white
79,7,6.2,0.200,0.26,1.10,0.047,42.0,119.0,0.99158,3.48,0.60,11.0,white
87,7,5.0,0.270,0.32,4.50,0.032,58.0,178.0,0.98956,3.45,0.31,12.6,white
89,7,7.6,0.310,0.24,1.80,0.037,39.0,150.0,0.99130,3.05,0.44,11.8,white
101,7,6.4,0.310,0.38,2.90,0.038,19.0,102.0,0.99120,3.17,0.35,11.0,white
104,7,7.1,0.270,0.27,10.40,0.041,26.0,114.0,0.99335,3.04,0.52,11.5,white
119,7,6.7,0.250,0.33,2.90,0.057,52.0,173.0,0.99340,3.02,0.48,9.5,white
120,7,5.6,0.350,0.40,6.30,0.022,23.0,174.0,0.99220,3.54,0.50,11.6,white

#### 'strength' 컬럼추가 : alcohol을 기준으로 10도가 넘으면 'strong' 아니면 'weak'으로 표시 (상위 30개만 출력)

In [ ]:
data['strength'] = np.where(data['alcohol'] >= 10, 'strong', 'weak')
data['strength'].head(30)

0     strong
1       weak
2     strong
3     strong
4     strong
5     strong
6       weak
7     strong
8       weak
9       weak
10    strong
11    strong
12    strong
13      weak
14    strong
15    strong
16      weak
17    strong
18      weak
19    strong
20      weak
21      weak
22    strong
23    strong
24    strong
25    strong
26    strong
27      weak
28    strong
29    strong
Name: strength, dtype: object

#### merge 실습을 위한 데이터 쪼개기

In [ ]:
df_x = data[['quality', 'fixed acidity', 'citric acid']].head(30)

In [ ]:
df_y = data[['quality', 'volatile acidity', 'chlorides', 'alcohol']].head(30)

In [ ]:
df_y = df_y[df_y.quality >= 7]

In [ ]:
len(df_y)

4

#### df_x와 df_y를 inner join시키기 (quality를 기준으로)

In [ ]:
pd.merge(df_x, df_y, how = 'inner', on = 'quality' )

   quality  fixed acidity  citric acid  volatile acidity  chlorides  alcohol
0        7            6.2         0.33              0.16      0.057     10.9
1        7            6.2         0.33              0.33      0.038     11.9
2        7            6.2         0.33              0.28      0.029     12.2
3        7            7.3         0.40              0.16      0.057     10.9
4        7            7.3         0.40              0.33      0.038     11.9
5        7            7.3         0.40              0.28      0.029     12.2
6        7            6.5         0.25              0.16      0.057     10.9
7        7            6.5         0.25              0.33      0.038     11.9
8        7            6.5         0.25              0.28      0.029     12.2
9        8            6.6         0.31              0.29      0.027     12.6

#### df_x에서 df_y를 left join시키기 (quality를 기준으로)

In [ ]:
pd.merge(df_x, df_y, how = 'left', on = 'quality' )

    quality  fixed acidity  citric acid  volatile acidity  chlorides  alcohol
0         5            5.6         0.06               NaN        NaN      NaN
1         5            8.8         0.14               NaN        NaN      NaN
2         5            7.9         0.39               NaN        NaN      NaN
3         6            7.0         0.31               NaN        NaN      NaN
4         6            7.8         0.26               NaN        NaN      NaN
5         6            6.0         0.37               NaN        NaN      NaN
6         5            6.1         0.49               NaN        NaN      NaN
7         6            7.1         0.42               NaN        NaN      NaN
8         5            6.8         0.31               NaN        NaN      NaN
9         5            6.8         0.35               NaN        NaN      NaN
10        6            8.0         0.37               NaN        NaN      NaN
11        7            6.2         0.33              0.16      0.057     10.9
12        7            6.2         0.33              0.33      0.038     11.9
13        7            6.2         0.33              0.28      0.029     12.2
14        7            7.3         0.40              0.16      0.057     10.9
15        7            7.3         0.40              0.33      0.038     11.9
16        7            7.3         0.40              0.28      0.029     12.2
17        5            7.1         0.17               NaN        NaN      NaN
18        5           12.5         0.60               NaN        NaN      NaN
19        5            7.8         0.49               NaN        NaN      NaN
20        5            8.8         0.48               NaN        NaN      NaN
21        7            6.5         0.25              0.16      0.057     10.9
22        7            6.5         0.25              0.33      0.038     11.9
23        7            6.5         0.25              0.28      0.029     12.2
24        6            8.2         0.40               NaN        NaN      NaN
25        6            6.8         0.25               NaN        NaN      NaN
26        5            7.6         0.26               NaN        NaN      NaN
27        5            7.2         0.26               NaN        NaN      NaN
28        6            7.1         0.33               NaN        NaN      NaN
29        6            7.7         0.01               NaN        NaN      NaN
30        5            8.9         0.14               NaN        NaN      NaN
31        8            6.6         0.31              0.29      0.027     12.6
32        5            6.3         0.34               NaN        NaN      NaN
33        5            6.1         0.58               NaN        NaN      NaN
34        6            6.1         0.00               NaN        NaN      NaN
35        4            7.6         0.36               NaN        NaN      NaN

## 과제2
- 데이터 : players.csv (kaggle NFL Big Data Bowl 2023 선수 데이터)
- 세션에 소개되지 않은 기능이 필요하다면, 구글링을 통해 구현해주시길 바랍니다.
- '내 드라이브'에 사본 저장 부탁드립니다.
- 데이터 설명:

|컬럼명|설명|
|--|---|
|nflId|Player identification number, unique across players (numeric)|
|height|Player height (text)|
|weight|Player weight (numeric)|
|birthDate|Date of birth (YYYY-MM-DD)|
|collegeName|Player college (text)|
|officialPosition|Official player position (text)|
|displayName|Player name (text)|

#### 데이터 불러오기 및 앞부분 확인

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
data = pd.read_csv('/content/gdrive/MyDrive/와빅_교육세션/players.csv') # players.csv: '내 드라이브'에 사본 저장 후, 경로 수정
data.head()

,nflId,height,weight,birthDate,collegeName,officialPosition,displayName
0,25511,6-4,225,1977-08-03,Michigan,QB,Tom Brady
1,28963,6-5,240,1982-03-02,"Miami, O.",QB,Ben Roethlisberger
2,29550,6-4,328,1982-01-22,Arkansas,T,Jason Peters
3,29851,6-2,225,1983-12-02,California,QB,Aaron Rodgers
4,30078,6-2,228,1982-11-24,Harvard,QB,Ryan Fitzpatrick

#### NaN, 데이터 타입, 개수 확인

In [ ]:
data.info()
data.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1679 entries, 0 to 1678
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   nflId             1679 non-null   int64
 1   height            1679 non-null   object
 2   weight            1679 non-null   int64
 3   birthDate         1447 non-null   object
 4   collegeName       1455 non-null   object
 5   officialPosition  1679 non-null   object
 6   displayName       1679 non-null   object
dtypes: int64(2), object(5)
memory usage: 91.9+ KB

nflId                 0
height                0
weight                0
birthDate           232
collegeName         224
officialPosition      0
displayName           0
dtype: int64

#### birthDate 컬럼으로 age 컬럼 추가하기

##### 1) birthDate 컬럼의 자료형을 object에서 datetime으로 전환

In [ ]:
data['birthDate'] = pd.to_datetime(data['birthDate'])
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1679 entries, 0 to 1678
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   nflId             1679 non-null   int64
 1   height            1679 non-null   object
 2   weight            1679 non-null   int64
 3   birthDate         1447 non-null   datetime64[ns]
 4   collegeName       1455 non-null   object
 5   officialPosition  1679 non-null   object
 6   displayName       1679 non-null   object
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 91.9+ KB

,nflId,height,weight,birthDate,collegeName,officialPosition,displayName
0,25511,6-4,225,1977-08-03,Michigan,QB,Tom Brady
1,28963,6-5,240,1982-03-02,"Miami, O.",QB,Ben Roethlisberger
2,29550,6-4,328,1982-01-22,Arkansas,T,Jason Peters
3,29851,6-2,225,1983-12-02,California,QB,Aaron Rodgers
4,30078,6-2,228,1982-11-24,Harvard,QB,Ryan Fitzpatrick

##### 2) age 컬럼 생성, apply 및 lambda 함수를 써서 나이 계산

In [ ]:
import datetime
def age_cal(x):
    difference = datetime.date.today().year - x.year
    return difference

data['age'] = data['birthDate'].apply(age_cal)
data['age'].head()

0    46.0
1    41.0
2    41.0
3    40.0
4    41.0
Name: age, dtype: float64

##### 3) age 결측치를 선수 평균 나이로 대체

In [ ]:
data['age'].isna().sum()
data['age'] = data['age'].fillna(data['age'].dropna().mean())
data['age'].isna().sum()

0

#### height 컬럼(feet-inch 형식)으로 heightCm 컬럼 추가하기

##### 1) heightCm 컬럼 생성, apply 및 lambda 함수를 사용해서 height 컬럼의 feet과 inch를 cm로 변환 ('-'를 기준으로 split해서 각각을 cm로 변환해 더하기)

In [ ]:
def height_cm(x):
    lst = str(x).split('-')
    return int(lst[0]) * 30.48 + int(lst[1]) * 2.54
data['heightCm'] = data['height'].apply(height_cm)
data['heightCm'].head()

0    193.04
1    195.58
2    193.04
3    187.96
4    187.96
Name: heightCm, dtype: float64